{
  "branches": ["main"],
  repositoryUrl : "git@github.com:18-ashish-sharma/naruto-storybook-react.git",
  plugins: [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      ["@semantic-release/npm",{"npmPublish":false}],
      "@semantic-release/changelog",
      "@semantic-release/git"
    ],
}